<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <meta name="mobile-web-app-capable" content="yes">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/ultracatstyles.css') }}">
    <header class="site-header">
    <div class="header">
        <h1><span class="animated">Cat of the day!</span></h1>
    </div>
    <nav class="site-navigation">
        <ul class="nav">
            <li><a href="{{ url_for('home') }}">Home</a></li>
            <li><a href="{{ url_for('list_cats') }}">Cats</a></li>
            <li><a href="{{ url_for('cat_create') }}">Create</a></li>
        </ul>
    </nav>
</header>
</head>
<body style="background-image: url({{ url_for('static', filename='assets/background.jpg') }});margin: 140px;">
<div class="content">
    <style>
        h1 span {
            font-family: 'Animosa', sans-serif;
            animation: animosa 2s infinite;
        }

        @keyframes animosa {
            0%, 100% {
                transform: translateX(0);
            }
            50% {
                transform: translateX(-10px);
            }
        }



    </style>
    <h1 style="margin: 160px;">
        <span>There are {{ cat_count }} cats in our collection!</span>
        <br><span>Swipe them to look through :)</span>
        <br><span>Or click to download it!</span>
    </h1>

    <div class="slider">
    {% for num in range(cat_count) %}
    <div class="slide">
        <img src="{{ request.host_url }}cats/catoftheday{{ num }}.jpg"/>
        <a class="download-button" href="{{ request.host_url }}cats/catoftheday{{ num }}.jpg" download>Download</a>
    </div>
    {% endfor %}
</div>
</div>
</div>
<script src="{{ url_for('static', filename='assets/cats.js') }}"></script>
</body>
</html>