<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/ultracatstyles.css') }}">
    <header class="site-header" style="background-color: white;">
    <div class="header">
        <h1><span class="animated">Cat of the day!</span></h1>
    </div>
    <nav class="site-navigation">
        <ul class="nav">
            <li><a href="{{ url_for('home') }}">Home</a></li>
            <li><a href="{{ url_for('list_cats') }}">Cats</a></li>
            <li><a href="{{ url_for('cat_create') }}">Create</a></li>
        </ul>
    </nav>
</header>
</head>
<body style="background-image: url({{ url_for('static', filename='assets/background.jpg') }});">
    <div class="content">
        <br><img src="{{ url_for('cat_modified', name='.jpg') }}" alt="catoftheday"></br>
    </div>
</body>
</html>